html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  }



section#como-funciona {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  section div.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  section div.titulo span {

    color: #3e0eb4;
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
    margin: 30px 0px;
    font-family: "BEBAS NEUE", sans-serif;
  }
  
  
  .icones-texto-row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    width: 100%;
}

.icones-texto {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    max-width: 200px; 
    max-height: 400px;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    
}
  
  
  
  section div.icones-texto span {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 700;
    color: #3e0eb4;
    font-family: "Poppins", sans-serif;
    line-height: 1rem;
  }

  
  
  section div.icones-texto p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #426666;
    font-family: var(--font-roboto);
    line-height: 1rem;
  }

  .icones-texto img{
    width: 250px;
    margin-bottom: -5rem;
  }