@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f2f3f5;
  --text: #666666;


  --primary-color: #3e0eb4;  
  --secondary-color: #fd288d; 
  --accent-color: #85ff51;    


  --font-bebas: 'Bebas Neue', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);
  color: var(--text);
}
