
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100%;

  }
  
 
  #menu { /*menu de navegação*/
    background-color: #FFFF;
    border-radius: 8px;
    height: 110px;
}

#menu img{ /*icon*/
    margin-left: 20px;
    
}



  .nav-link { /*itens do menu de navegação*/
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    color: black !important; 
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 25px !important;
  }
  .nav-link:hover {
    background-color: #fd288d;
    color: white !important; 
  }

  .inicial{
    background: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

.background{ /*imagem de fundo*/
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    background-image: url("../assets/fundo_text2.svg");
    background-repeat: no-repeat;
    background-position: relative;
    background-attachment: fixed;
    
    
}

 .inicial h1 {
    display: flex;
    align-self: left;
    align-items: left;
    font-family: "Bebas Neue";
    color: #3e0eb4;
    font-size: 109px;
   
    padding: 10px;
    line-height: 0.9;
    font-weight: 500;
    background-color: transparent;
   
}    

.inicial h2{
    font-family: "Poppins";
    font-size: 35px;
    font-weight: 700;
    color: #fd288d;
    padding: 10px;
    margin-top: -30px;
    line-height: 1;
    background-color: transparent;
    
}



.saibaMais{
    margin: 150px;
    margin-top: 20px;
    border: none;
    border-radius: 40px;
    background-color: #fd288d;
    color: #FFFF;
    font-family: "Bebas Neue";
    font-size: 30px;
    width: 450px;
    padding: 18px;
    letter-spacing: 5px;
    transition: 0.3s ease, color 0.3s ease;
    align-self: left;
    
}

.saibaMais:hover {
    background-color: #3e0eb4;
    color: white !important; 
  }


  /* como funciona */
  
  
  section#como-funciona {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  
    
    section div.titulo {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    section div.titulo span {
  
      color: #3e0eb4;
      font-size: 5.5rem;
      font-weight: 600;
      text-align: center;
      margin: 30px 0px;
      font-family: "BEBAS NEUE", sans-serif;
    }
    
    
    .icones-texto-row {
      display: flex;
      justify-content: center; 
      flex-wrap: wrap; 
      
      
  }
  
  .icones-texto {
      display: flex;
      flex-direction: column;
      align-items: center; 
      text-align: center;
      justify-content: center;
      max-width: fit-content; 
      max-height: 400px;
      padding: 1rem;
      box-sizing: border-box;
      box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3); 
      margin: 2rem;
      border-radius: 10px;
      
  }
    
    
    
    section div.icones-texto span {
      margin: 20px 0;
      font-size: 1rem;
      font-weight: 700;
      color: #3e0eb4;
      font-family: "Poppins", sans-serif;
      line-height: 1rem;
    }
  
    
    
    section div.icones-texto p {
      font-size: 0.875rem;
      font-weight: 400;
      color: #426666;
      line-height: 1rem;
    }
  
    .icones-texto img{
      width: 250px;
      margin-bottom: -5rem;
    }
  